name: build
on:
  pull_request:
  push:
    branches:
      - main

jobs:
  build:
    timeout-minutes: 15
    env:
      CI: true
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [18.x, 20.x, 22.x]
    steps:
      - uses: actions/checkout@v4
      - uses: jdx/mise-action@v2
      - run: pnpm i
      - name: types
        run: npm run check:types
      - name: build
        run: pnpm run build
      - name: test
        id: test
        if: ${{ always() }}
        run: pnpm run test
      - name: lint
        if: ${{ always() }}
        run: pnpm run lint
      - name: style
        if: ${{ always() }}
        run: pnpm run format:check

  codecov: # Send only a single coverage report per run
    needs: build
    timeout-minutes: 15
    env:
      CI: true
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: pnpm/action-setup@v2
        with:
          version: 8.15.9
      - uses: actions/setup-node@v5
        with:
          node-version: 20.19.5
          cache: pnpm
      - run: pnpm i
      - name: test
        run: pnpm run test:coverage
      - name: codecov
        uses: codecov/codecov-action@v5
